beautifulsoup4==4.12.2
blurhash==1.1.4
certifi==2023.7.22
charset-normalizer==3.1.0
decorator==5.1.1
docopt==0.6.2
feedgen==0.9.0
idna==3.4
lxml==4.9.2
Mastodon.py==1.8.1
pipreqs==0.4.13
python-dateutil==2.8.2
python-magic==0.4.27
pytz==2023.3
requests==2.31.0
six==1.16.0
soupsieve==2.4.1
urllib3==1.26.17
yarg==0.1.9
pdf2image==1.16
Pillow~=10.0.0
pip~=22.3.1
wheel~=0.38.4
setuptools~=65.5.1
tweepy==4.14