beautifulsoup4==4.6.3
certifi==2018.8.24
chardet==3.0.4
feedgen==0.7.0
future==0.16.0
idna==2.7
lxml==4.6.5
oauthlib==2.1.0
pkg-resources==0.0.0
python-dateutil==2.7.3
python-twitter==3.4.2
pytz==2018.5
requests==2.19.1
requests-oauthlib==1.0.0
six==1.11.0
urllib3==1.26.5
